a[href^='http']:not([href*='localhost:8080']):not([href*='almunday.com']):not(.button):not(.no-indicator),
.indicator {
  padding-inline-end: 0.9em;
  position: relative;
}

a[href^='http']:not([href*='localhost:8080']):not([href*='almunday.com']):not(.no-indicator)::after,
.indicator::after {
  position: absolute;
  display: inline-block;
  inline-size: 1em;
  block-size: 1em;
  background-image: url('/assets/images/template/external.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 62% auto;
  content: '(external link)';
  overflow: hidden;
  white-space: nowrap;
  text-indent: 1em;
  opacity: 0.85;
}
