.section > .divider:first-child {
  transform: rotate(180deg) translateY(-1px);
}

.section__inner {
  background-color: color-mix(
    in oklab,
    var(--spot-color, color-mix(in oklab, var(--color-bg-soft) 90%, transparent)) var(--spot-opacity, 100%),
    transparent
  );
  color: var(--color-text);
}

.section blockquote {
  font-weight: var(--font-bold);
  line-height: 1.2;
  font-size: var(--size-step-2);
  letter-spacing: var(--tracking-s);
}

.section :is(h1, h2, h3, blockquote) {
  opacity: 0.98;
}
