.divider {
  display: block;
  block-size: 3.5em;
  inline-size: 100%;
  fill: color-mix(
    in oklab,
    var(--spot-color, var(--color-bg)) var(--divider-opacity, var(--spot-opacity, 100%)),
    transparent
  );
}

.divider > .divider {
  transform: translateY(-1px);
}
