.logo {
  --gutter: var(--space-xs);
  padding: var(--space-s) 0;
  font-size: var(--size-step-3);
  text-decoration: none;
  letter-spacing: var(--tracking-s);
  color: var(--color-light);
}

.logo svg {
  color: var(--color-light);
  filter: drop-shadow(0 0.15rem 0.3rem color-mix(in oklab, var(--color-tone-root) 26%, transparent));
}
