.gradient-text,
.gradient-text-linear {
  color: var(--color-text);
}

@supports ((background-clip: text) or (-webkit-background-clip: text)) {
  .gradient-text {
    color: transparent;
    background-image: var(--gradient-conic);
    padding: 0.3rem 0;
    background-size: 60%;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .gradient-text-linear {
    color: transparent;
    background-image: var(--gradient-rainbow);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
