.theme-switch h2 {
  font-size: var(--size-step-min-1);
  font-family: var(--font-base);
  color: var(--color-text-light);
}

.theme-switch .button[aria-pressed='true'] {
  --button-bg: color-mix(in oklab, var(--color-primary) 30%, var(--color-bg-elevated));
  --button-color: var(--color-text);
  --button-border-color: var(--color-border-strong);
  outline-color: var(--color-focus-ring);
}
