---
layout: base
permalink: /index.html
title: "Al Munday - Jesus, Music and Computers"
description: "Homepage"
blog:
  title: 'Jesus'
  intro: "I write about following Jesus in the modern world. All views are my own." 
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <custom-masonry layout="50-50">
        <div class="prose wrapper">
          <h1 class="text-center" style="color: var(--color-text);">Hello Friend!</h1>
          <span class="text-center" style="color: var(--color-text);">
            <strong></strong>
            <br />
              This is a collection of my thoughts, projects, and musings. This site isn't here to be a polished portfolio, but rather a space for me to record my journey, my creative output, and the things i'm reflecting on.
          Its here for me. But if you find something useful, or interesting, then that would bring me so much joy!
            <br />
        </div>
        <div>
        {# {% image "/assets/images/mes/deckchair-me.png", "Al Munday sitting on a deckchair, looking at the camera with a smile" %} #}
        {% svg "misc/me-tree", "Al Munday sitting under a tree with a book", "", "block-size: 500px; fill: var(--color-me-tree);" %}
        </div>
      </custom-masonry>
    </div>
    {% svg "divider/waves", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
  </article>

  <section class="full | region">
    <div class="wrapper flow prose bg-tiled-pattern bg-repeat" style="background-image: url('/assets/images/background/background-tile-colour.png'); background: repeat;">
      <h2>{{ blog.title }}</h2>
      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}
      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 4) %}
            {% set headingLevel = "h3" %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>
