---
import { site } from '../lib/site.js';
---

<div
  role="region"
  class="theme-switch | cluster mt-xs"
  style="--cluster-horizontal-alignment: center; --gutter: 0.5rem"
  aria-labelledby="theme-switcher-label"
  data-theme-switcher
>
  <h2 id="theme-switcher-label">{site.themeSwitch.title}</h2>
  <button class="button" id="light-theme-toggle" data-theme="light" data-ghost-button data-small-button>
    <span>{site.themeSwitch.light}</span>
  </button>
  <button class="button" id="dark-theme-toggle" data-theme="dark" data-ghost-button data-small-button>
    <span>{site.themeSwitch.dark}</span>
  </button>
</div>
